<ion-header>
  <ion-title class="ion-text-center header">
    Visualizacion de Datos
  </ion-title>
  <ion-button (click)="generarPDF()">Generar PDF</ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <div #container>
    <div class="dashboard-content">
      <div class="seccion header">
        <h1>Dashboard</h1>
      </div>

      <div class="seccion charts-container">
        <ion-col>
          <div class="chart-title">Bar Chart</div>
          <app-bar-chart [borderColorCategorias]="borderColorCat" [backgroundColorCategorias]="backgroundColorCat"></app-bar-chart>
        </ion-col>
        <ion-col>
          <div class="chart-title">Pie Chart</div>
          <app-pie-chart></app-pie-chart>
        </ion-col>
        <ion-col>
          <div class="chart-title">Line Chart</div>
          <app-line-chart></app-line-chart>
        </ion-col>
      </div>

      <div class="table-container">
        <app-tablas [datosTabla]="datosTablaTab1"></app-tablas>
      </div>
      <div class="seccion list-container">
        <h2 class="header">List</h2>
        <ul *ngFor="let lista of datosLista">
          <li>{{lista}}</li>
        </ul>
      </div>
      <div class="table-container">
        <app-tablas [datosTabla]="datosTablaTab1"></app-tablas>
      </div>
      <div class="table-container">
        <app-tablas [datosTabla]="datosTablaTab1"></app-tablas>
      </div>
      <div class="seccion list-container">
        <h2 class="header">List</h2>
        <ul *ngFor="let lista of datosLista">
          <li>{{lista}}</li>
        </ul>
      </div>
      <div class="seccion list-container">
        <h2 class="header">List</h2>
        <ul *ngFor="let lista of datosLista">
          <li>{{lista}}</li>
        </ul>
      </div>
      <div class="seccion list-container">
        <h2 class="header">List</h2>
        <ul *ngFor="let lista of datosLista">
          <li>{{lista}}</li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>
